$orange: #EE7419;

.el-header {
  display: flex;
  height: 6rem;
  line-height: 6rem;
  // background-color: $orange;
  background-color:#f5f5f5;
  box-shadow: 0 0 15px 0 rgba(29, 50, 71, 0.1);
  justify-content: space-around;
 
  // position: fixed;
  // top: 0;
  // right: 0;
  // width: 100%;
  // z-index: 10;

  a {
    font-size: 16px;
    // color: #fff;
    color: #333;
    text-decoration: none;
  }
  .logout{
    cursor: pointer;
  }
  .logo-box {
    display: flex;
    justify-content: space-around;
    width: 500px;
    align-items: center;

    .logo-title {
      margin-left: -30px;
      
    }

    .logo-img {
      width: 54px;
      height: 54px;
      margin-top: 2px;
    }

    .my-qs {

      &:before {
        content: '?';
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;

        margin: {
          right: 6px;
        }

        text-align: center;
        line-height: 2.5rem;
        color: $orange;
        border-radius: 1.25rem;
        background-color: rgb(95, 86, 86);
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .el-header {
    .my-qs,
    .logout,
    .AvailableQn {
      display: none;
    }

  }
}