$orange: #ee7419;
$lightorange: #fcf0e5;

.container {
    max-width: 120rem;
    padding: 5rem;
    margin: 5rem auto;
    color: #666;
    background-color: #fff;
    border-radius: .4rem;
    box-shadow: 0 0 1rem #aaa;
    margin-top: 30px;

    .title {
        color: #1ea0fa;
        font-weight: bold;
        text-align: center;
    }

    .btn {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .table {
        margin-top: 30px;
    }
}